<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissors</title>
  <link rel="icon" href=
    "../imgs/scissors.PNG"
        type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_default&stacked=h-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron text-center">
  <h1>Tello Drone Controller</h1>
  <p>Using Angular CLI and Node.js</p>
</div>
<!--Hidden win messages -->
<!--<div id="win_message" class="alert alert-success alert-dismissible fade in">-->
<!--  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--  <strong>You WON the round, CONGRATS!</strong>-->
<!--</div>-->
<!--<div id="win_match_message" class="alert alert-success alert-dismissible fade in">-->
<!--  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--  <strong>You WON the match! Computer is sad :(</strong>-->
<!--</div>-->

<!--<div id="draw_message" class="alert alert-warning alert-dismissible fade in">-->
<!--  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--  <strong>Draw in this round, try again!</strong>-->
<!--</div>-->

<!--<div id="loss_message" class="alert alert-danger alert-dismissible fade in">-->
<!--  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--  <strong>You lost the round :(</strong>-->
<!--</div>-->
<!--<div id="loss_match_message" class="alert alert-danger alert-dismissible fade in">-->
<!--  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>-->
<!--  <strong>You lost the match, good luck next time!</strong>-->
<!--</div>-->

<!--The container used to store the clone of the alerts as a log/history of the match. It is cleared when pressing start the game with jQuery -->
<!--<div id="history_container">-->

<!--</div>-->
<!--The following containers are used to describe all the buttons -->
<!--https://www.google.com/search?q=rock+paper+scissors+ui+images&rlz=1C1CHBF_enUS853US853&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiUntO8tITqAhWhQjABHQ7iCFwQ_AUoAXoECAwQAw&biw=1920&bih=958#imgrc=z4TE1ELEXBIUhM -->
<div id="game" class="container-fluid text-center">

  <h2 id="message"><span>Please choose Rock, Paper or Scissors. Current Score:</span></h2>
  <h3 class="score1"><span>Your Score: <span class="score1" id="scoreHuman"></span></span></h3>
  <p></p>
  <h3 class="score2"><span>Computer Score: <span class="score2" id="scoreComputer"></span></span></h3>
  <h3 class="computerPick"><span>Computer Choose: <span id="computerPick"></span></span></h3>
  <div  class="row justify-content-center">
    <div class="col-md-offset-3 col-sm-2 col-md-auto ">
      <button class="choice" id="flipRight" disabled><img src="../assets/imgs/flipright.png" height="135" width="112"/></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button class="choice" id="paper" disabled><img src="../assets/imgs/up.png" height="135" width="112"/></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button class="choice" id="flipLeft" disabled><img src="../assets/imgs/flipleft.png" height="135" width="112"/></button>
    </div>
  </div>

  <div id="choice" class="row justify-content-center">


    <div class="col-sm-2 col-md-offset-4 ">
      <button class="choice" id="rock" disabled><img src="../assets/imgs/left.png" height="135" width="112"/></button>
    </div>

    <div class="col-sm-2 col-md-auto ">
      <button class="choice" id="scissors" disabled><img src="../assets/imgs/right.png" height="135" width="112"/>
      </button>
    </div>
  </div>
  <div  class="row justify-content-center">
    <div class="col-md-offset-3 col-sm-2 col-md-auto ">
      <button class="choice" id="flyUP" disabled><img src="../assets/imgs/up.png" height="135" width="112"/></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button class="choice" id="downButton" disabled><img src="../assets/imgs/down.png" height="135" width="112"/></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button class="choice" id="flyDown" disabled><img src="../assets/imgs/down.png" height="135" width="112"/></button>
    </div>
  </div>
  <p></p>
  <div class="container-fluid text-center">
    <div  class="row justify-content-center">
      <div class="col-md-auto ">
    <button id="takeOff" class="btn btn-primary btn-lg">TAKE OFF!</button>
      </div>
    </div>
  </div>
<br>
  <div class="container-fluid text-center">
    <div  class="row justify-content-center">
      <div class="col-md-auto ">
    <button id="connect" class="btn btn-danger btn-lg">Connect</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>
