<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissors</title>
  <link rel="icon" href=
    "../imgs/scissors.PNG"
        type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="../assets/js/jsmpeg.min.js"></script>

</head>
  <div class="container-fluid text-center">
  <h1 class="text-white bg-dark">Tello Drone Controller</h1>
  <p class="text-white bg-dark">Using Angular CLI and Node.js</p>
</div>
<div class="container text-center">
  <div  class="row justify-content-center">
  <div id="imagewrapper" style="position:relative;display:inline-block;min-width:900px;vertical-align:top;">
    <canvas #videoCanvas id="video-canvas"></canvas>
  </div>

  </div>
</div>
<div id="game" class="container-fluid text-center">
  <div  class="row justify-content-center">
  <div class="col-md-offset-5 col-sm-2 col-md-auto form-group input-group">
    <input #speed class="form-control" placeholder="Speed: 10-100" type="text">
  </div>
  </div>
  <div  class="row justify-content-center">

  <div class="col-md-offset-5 col-sm-2 col-md-auto ">
    <button type="button" (click)="changeSpeed()" id="speedSet" class="btn red-background white btn-lg"> <i class="fa fa-undefined"></i>CHANGE SPEED</button>
  </div>
  </div>

  <p></p>

  <div  class="row justify-content-center">
    <div class="col-md-offset-3 col-sm-2 col-md-auto ">
      <button type="button" (click)="performAction('ccw 35')" id="ccw" class="btn red-background white btn-lg"> <i class="fa fa-rotate-left"></i></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button (click)="performAction('forward 40')" type="button" id="forward" class="btn red-background white btn-lg" ><i class="fa fa-arrow-up"></i></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button type="button" (click)="performAction('cw 40')" id="cw" class="btn red-background white btn-lg"><i class="fa fa-rotate-right"></i></button>
    </div>
  </div>

  <div id="choice" class="row justify-content-center">


    <div class="col-sm-2 col-md-offset-4 ">
      <button type="button" id="left" (click)="performAction('left 40')" class="btn red-background white btn-lg"><i class="fa fa-arrow-left"></i></button>
    </div>

    <div class="col-sm-2 col-md-auto ">
      <button type="button" id="right" (click)="performAction('right 40')" class="btn red-background white btn-lg"><i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
  <div  class="row justify-content-center">
    <div class="col-md-offset-3 col-sm-2 col-md-auto ">
      <button type="button" (click)="performAction('up 30')" id="flyUP" class="btn red-background white btn-lg"><i class="fa fa-undefined"></i> Fly   &nbsp;Up</button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button type="button" (click)="performAction('back 40')" id="back" class="btn red-background white btn-lg"><i class="fa fa-arrow-down"></i></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button type="button" (click)="performAction('down 30')" id="flyDown" class="btn red-background white btn-lg"><i class="fa fa-undefined"></i> Fly  Dwn</button>
    </div>
  </div>
  <p></p>
  <div class="container-fluid text-center">
    <div  class="row justify-content-center">
      <div class="col-md-offset-4 col-sm-2 col-md-auto ">
    <button (click)="performAction('takeoff')" id="takeOff" class="btn red-background white btn-lg">TAKE OFF!</button>
      </div>
      <div class="col-sm-2 col-md-auto ">
        <button (click)="performAction('land')" id="land" class="btn red-background white btn-lg">LANDING!</button>
      </div>
    </div>

  </div>
  <p></p>

  <div class="container-fluid text-center">
    <div  class="row justify-content-center">
      <div class="col-md-auto ">
        <button (click)="performAction('emergency')" id="emergency" class="btn red-background white btn-lg">EMERGENCY!</button>
      </div>
    </div>
  </div>
<br>
  <div class="container-fluid text-center">
    <div  class="row justify-content-center">
      <div class="col-md-offset-3 col-md-2 col-md-auto ">
        <button id="streamon" (click)="performAction('streamon')" class="btn red-background white btn-lg">Video Stream On</button>
      </div>
      <div class=" col-md-2 col-md-auto ">
    <button id="connect" (click)="performAction('command')" class="btn red-background white btn-lg">Connect</button>
      </div>
      <div class=" col-md-2 col-md-auto ">
        <button id="streamoff" (click)="performAction('streamoff')" class="btn red-background white btn-lg">Video Stream Off</button>
      </div>
    </div>
  </div>
</div>
<p></p>

<div  style="font-size:20pt;" class="container-fluid text-center">
  <div #time></div>
<div>Drone Parameters:</div>
  <div #battery></div>
  <div #height></div>
  <div #verticalSpeed></div>
  <div #horizontalSpeed></div>
  <div #verticalAcceleration></div>
  <div #horizontalAcceleration></div>
  <div #pressure></div>
  <div #lowestTemp></div>
  <div #highestTemp></div>
  <div #timeInFlying></div>
  <div #distanceOfFlying></div>
  <div #elevationPitch></div>
  <div #elevationRoll></div>

</div>

</html>
