<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Rock Paper Scissors</title>
  <link rel="icon" href=
    "../imgs/scissors.PNG"
        type="image/x-icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--https://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_default&stacked=h-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
  <div class="container-fluid text-center">
  <h1 class="text-white bg-dark">Tello Drone Controller</h1>
  <p class="text-white bg-dark">Using Angular CLI and Node.js</p>
</div>
<div class="container text-center">
  <h1 class="text-white bg-dark">VIDEOS GOES HERE</h1>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
</div>
<!--https://www.google.com/search?q=rock+paper+scissors+ui+images&rlz=1C1CHBF_enUS853US853&source=lnms&tbm=isch&sa=X&ved=2ahUKEwiUntO8tITqAhWhQjABHQ7iCFwQ_AUoAXoECAwQAw&biw=1920&bih=958#imgrc=z4TE1ELEXBIUhM -->
<div id="game" class="container-fluid text-center">

  <div  class="row justify-content-center">
    <div class="col-md-offset-3 col-sm-2 col-md-auto ">
      <button type="button"  id="flipRight" class="btn red-background white btn-lg"> <i class="fa fa-rotate-left"></i></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button type="button" id="up"  class="btn red-background white btn-lg" ><i class="fa fa-arrow-up"></i></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button type="button"  id="flipLeft" class="btn red-background white btn-lg"><i class="fa fa-rotate-right"></i></button>
    </div>
  </div>

  <div id="choice" class="row justify-content-center">


    <div class="col-sm-2 col-md-offset-4 ">
      <button type="button" id="left"  class="btn red-background white btn-lg"><i class="fa fa-arrow-left"></i></button>
    </div>

    <div class="col-sm-2 col-md-auto ">
      <button type="button" id="right"  class="btn red-background white btn-lg"><i class="fa fa-arrow-right"></i></button>
    </div>
  </div>
  <div  class="row justify-content-center">
    <div class="col-md-offset-3 col-sm-2 col-md-auto ">
      <button type="button"  id="flyUP" class="btn red-background white btn-lg"><i class="fa fa-undefined"></i> Fly   &nbsp;Up</button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button type="button" id="down"  class="btn red-background white btn-lg"><i class="fa fa-arrow-down"></i></button>
    </div>
    <div class="col-sm-2 col-md-auto ">
      <button type="button"  id="flyDown" class="btn red-background white btn-lg"><i class="fa fa-undefined"></i> Fly  Dwn</button>
    </div>
  </div>
  <p></p>
  <div class="container-fluid text-center">
    <div  class="row justify-content-center">
      <div class="col-md-auto ">
    <button id="takeOff" class="btn red-background white btn-lg">TAKE OFF!</button>
      </div>
    </div>
  </div>
<br>
  <div class="container-fluid text-center">
    <div  class="row justify-content-center">
      <div class="col-md-auto ">
    <button id="connect" class="btn red-background white btn-lg">Connect</button>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid text-center">

<div>Drone Parameters:</div>
<div #myDiv></div></div>

</html>
